.landingContainer {
  /* background-color: #276A79; */
  /* font-family: 'Cherry Bomb One'; */
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
}

.webTitle {
  text-align: center;
  display: block;
  color: #fff;
  line-height: 2;
  font-family: 'Poppins', sans-serif;
  font-size: bold;
}

.webTitle > a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  margin: auto;
}

.dropToUpload { 
  border: 2px;
  border-style: dashed;
  border-color: #0F5261;
  background-color: #95C7D2;
  border-radius: 20px;
  min-height: 35vh;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.dropToUpload > h1 { 
  font-weight: 400;
  text-align: center;
  color: #0F5261
}

.selectFile {
  background-color: #000;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-radius: 5px;
  color: #000;
}

.footerText {
  /* position: absolute; */
  bottom: 0;
  color: #fff;
  text-align: center;
}

.footerText > p {
  text-align: center;
}

.footerText > p > a {
  color: #fff !important;
}

.fileUploader[type="file"] {
  display: none;
}

.centerGif {
  margin: auto;
  display: block;
  font-size: 10em;
  color: #7EAEB9
}

.upload {
  font-family: Quicksand;
  background-color: #95C7D2;
  padding: 35px;
  border-radius: 7px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.uploadImg {
  /* height: 15vh; */
  display: block;
  max-width: 100%;  
  margin: auto;
  border-radius: 5px;
}

.privacy {
  color: white;
  /* background-color: #95C7D2; */
  padding: 2em;
  border-radius: 5px;
  font-family: sans-serif;
}

.privacytext {
  margin: auto;
}

.landingText {
  color: white;
  align-items: center;
  text-align: center;
  margin: auto;
}

.landingImg {
  border-radius: 15px;
  width: 25em;
}

.gif {
  display: inline-block;
  margin: 5px;
  width: 5em;
  color: #7EAEB9;
}

